@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");

body {
  width: 500px;
  margin: 5em auto;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.5;
  color: #4b464a;
}

a {
  color: #994E73;
  text-decoration: none;
  
  &:hover {
    border-bottom: 1px solid #994E73;
  }
}

strong {
  font-weight: 700;
}

header {
  margin-bottom: 5em;
}

p {
  margin: 0.25em 0;
  
  &.note {
    color: #aaa;
    font-size: 70%;
    line-height: 1.7;
  }
}

h1#ratio {
  font-size: 6em;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  span.percentage {
    font-weight: 400;
  }
}

ul.authors {
  color: #aaa;
  
  span.gender {
    float: left;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    width: 16px;
    margin-right: 1em;
    position: relative;
    top: 0.3em;
    
    &.female  { color: #191719; }
    &.male    { color: #ccc; }
    &.unknown { color: #ddd; }
  }
}

form {
  margin: 0.5em 0 1em;
  
  input {
    font-size: 1em;
    padding: 0.4em;
    font-family: "Raleway";
    border: 1px solid #ccc;
  }
  
  input[type=submit] {
    background-color: #4b464a;
    color: white;
    border: 1px solid #4b464a;
  }
}